ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 8vh;
  width: 100vw;
  z-index: 10;
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav-redirect {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin: auto;
}

.nav-link:hover {
  /* background-color: #030f1b; */
  background-color: rgb(87, 87, 87);
}

.nav-link a {
  color: white;
  width: 100%;
  text-align: center;
}

.nav-dropdown-item {
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

.nav-dropdown-current-page {
  background-color: rgb(176, 176, 176)
}

.user-icon-container {
  width: auto;
}

/* Dropdown Button */
.nav-dropbtn {
  background-color: rgb(25, 25, 25);
  color: white;
  border: none;
  aspect-ratio: 1/1;
  height: 100%;
  align-items: center;
  width: auto;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.nav-dropbtn:hover {
  background-color: rgb(21, 21, 21);
}

/* The container <div> - needed to position the dropdown content */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.nav-dropdown-content {
  display: none;
  position: absolute;
  max-width: 300px;
  z-index: 1;
}

#light .nav-dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#dark .nav-dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.1);
}

#light .nav-dropdown-content {
  background-color: #f1f1f1;
}
#dark .nav-dropdown-content {
  background-color: var(--dark2);
}

/* Links inside the dropdown */
.nav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {display: block;}



.nav-dropdown-item:hover {
  background-color: rgb(202, 202, 202);
}

@media screen and (max-width: 480px) {
  .nav-dropdown-content {
      width: 50vw;
  }
  .nav-dropbtn {
      font-size: 2rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-dropdown-content {
      width: 40vw;
  }
  .nav-dropbtn {
      font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-dropdown-content {
      width: 30vw;
  }
  .nav-dropbtn {
      font-size: 2.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .nav-dropdown-content {
      width: 20vw;
  }
  .nav-dropbtn {
      font-size: 3rem;
  }
}







.navbar-wide {
  background-color: #121212;
  display: flex;
  width: 100vw;
  justify-content: space-between; /* Align items to the right */
  align-items: center;
  padding: 10px 20px; /* Add padding to the header */
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 70px;
}

.nav-left {
  order: -1;
} 
.nav-right {
  display: flex;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display items in a row */
}

.nav-item {
  margin-left: 20px;
  margin-right: 30px; /* Add spacing between items */
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}